.listContainer {
    width: 1110px;
    margin: 0 auto;
}

.entryTitle {
    font-family: "Poppins Medium";
    font-weight: 500;
    font-size: 13px;
    color: rgba(var(--dark-blue), 0.5);
}

.entryTitleContainer:hover {
    background-color: var(--white) !important;
    box-shadow: none !important;
    cursor: default !important;
}

.entryTitleContainer {
    height: 48px;
}

.requestsText {
    width: 146px;
    color: var(--black);
    font-family: "Poppins Medium";
    font-weight: 14px;
    margin: auto 0;

}

.listHeader {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    width: 100%;
    height: 64px;
}

.search {
    width: 100%;
    height: 60px;
    background-color: var(--white);
    display: flex;
}

.searchInput {
    width: 1056px;
    height: 100%;
    color: var(--gray);
    font-weight: 12px;
    font-family: "Poppins";
    padding: 0 24px;
    outline: none;
    border: none;
}

.searchIcon {
    width: 16px;
    height: 16px;
    background: var(--icon-gray);
    margin: auto 24px;
}
