.entry {
    display: flex;
    /* flex-direction: row; */
    background-color: white;
    width: 100%;
    height: 64px;
    justify-content: space-between;
    font-size: 13px;
    color: var(--table-gray);
    margin: 1px 0;
}

.entryId {
    font-family: "Poppins Medium";
    font-size: 15px;
    color: var(--table-black);
    width: 100px;
}

.entryName {
    width: 210px;
}

.entryStatus {
    width: 158px;
}

.entrySupplier {
    width: 120px;
}

.entryDate {
    width: 160px;
}

.entryId, .entryName, .entryStatus, .entrySupplier, .entryDate {
    margin: auto;
}